.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 50px
}
.list-reset {
    list-style: none;
}
.link-reset {
    color: currentColor;
    text-decoration: none;
}
.section {
    margin-bottom: 40px;
}
.heading, .section__heading {
    line-height: 1.5;
    letter-spacing: 1.1px;
    
}
.section__heading {
    font-size: 20px;
    margin-bottom: 10px;
}
.text--large {
    font-size: 18px;
    margin-bottom: 10px;
}